# Server Configuration
PORT=5000
NODE_ENV=development

# Database
MONGODB_URI=
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/patientcare

# JWT Secret (use a strong random string in production)
# set expiry time (eg: 7d for 7 days, 24h for 24 hours)
JWT_SECRET=
JWT_EXPIRE=

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
